<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generate</title>
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css" />
  <link href="https://stablediffusionapi.com/themes/tailwind/css/app.css" rel="stylesheet">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        .imgurl {

            display: flex;
            margin-left: 30px;
        }

    </style>
 
</head>


<body>
<div class="container mx-auto">
    <!--NavBar-->
    <nav>
        <div class="md:block border-xl border-grey-100 border-2 border-solid rounded-2xl p-2">
          <ul id="menu" class="mt-10 flex md:mt-0 text-sm font-medium text-center text-gray-500 rounded-lg divide-x divide-gray-200 shadow">
            <li class="w-full">
              <a href="/" class="inline-block p-4 w-full bg-white rounded-l-lg hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 active focus:outline-none">Stable Diffusion</a>
            </li>
            <li class="w-full">
              <a href="/TrainModel" class="inline-block p-4 w-full bg-white hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none">Train Model</a>
            </li>
            <li class="w-full">
              <a href="/getTrainingStatus" class="inline-block p-4 w-full bg-white hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none">Training Status</a>
            </li>
            <li class="w-full">
              <a href="/getFineTunedImages" class="inline-block p-4 w-full bg-white hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none">Generate Image</a>
            </li>
            <li class="w-full">
              <a href="/fetch_images" class="inline-block p-4 w-full bg-white hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none">Trained Images</a>
            </li>
            <li class="w-full">
              <a href="/history" class="inline-block p-4 w-full bg-white hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none">History</a>
            </li>
          </ul>
        </div>
      </nav>
      
      
    <!---->


<!-- if Error-->

{% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}


<!---->



    <!--Form -->

<form method="post" enctype="multipart/form-data">
    <div class="main-div">
        <div class="mt-10">
            <h3 class="p-3 text-2xl text-center">Train Model</h3>
            <div class="sm:text-center w-full">
                <div class="w-full">
                    <input
                    class="p-5 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:rounded-none sm:rounded-l-lg focus:ring-primary-500 focus:border-primary-500"
                    placeholder="key"
                    id="key" name="key" type="text">

                    <input
                    class="p-5 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:rounded-none sm:rounded-l-lg focus:ring-primary-500 focus:border-primary-500"
                    placeholder="Instance Prompt"
                    id="instance_prompt" name="instance_prompt" type="text">

                    <input
                    class="p-5 pl-10 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 sm:rounded-none sm:rounded-l-lg focus:ring-primary-500 focus:border-primary-500"
                    placeholder="Class Prompt"
                    id="class_prompt" name="class_prompt" type="text">


                    <input
                    class="p-5 pl-10 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 sm:rounded-none sm:rounded-l-lg focus:ring-primary-500 focus:border-primary-500"
                    placeholder="Base Model Id"
                    id="base_model_id" name="base_model_id" type="text">

                </div>
                <div>
                    <select name="training_type" required id="training_type"
                        class="w-full rounded-xl border-gray-300 focus:border-blue-100 p-3">
                        <option value="">Training Type</option>
                        <option value="Men">Men</option>
                        <option value="Women">Women</option>
                        <option value="Couple">Couple</option>
                        <option value="Animal">Animal</option>
                    </select>
                </div>
            
            
<br>
<br>


                <div class="flex justify-center space-x-4">
                
                  <button id="addBtn" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                    Add Images
                  </button>
                </div>

                <div id="container" class="form-group">
                    <p class="template"></p>                            
                </div>
          
            </div>
        </div>
  <br>
        <div class="flex justify-center items-center">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" id="submitButton">
            Train Model
          </button>
        </div>
        


        <!-- <div class="w-full lg:w-40">
            <button type="submit" id="submit" class="btn btn-primary btn-block">Train Model</button>
        </div> -->

    </div>
</form>



{% if post_response %}
<h2>API Response</h2>
<pre>{{ post_response | tojson }}</pre>
{% endif %}


  <script>
    document.getElementById("addBtn").addEventListener("click", function () {
        var container = document.getElementById("container");
        var newElement = document.createElement("p");
        newElement.innerHTML = '<input type="text" name="image_7" id="name7" placeholder="image url" class="form-control" required>';
        container.appendChild(newElement);
    });
</script>


</body>
</html>