<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css"
    />
    <link
      href="https://stablediffusionapi.com/themes/tailwind/css/app.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <title>Message</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
      integrity="sha512-yS7+iAGZ2QW1+Vx/U/S+2cUzjKk5q5vJ9XuM+ILZj7VWweh6gRJ6j4fEN1Dl+ro94a72GpLXbSWej+Z7nJn2pw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
{%include 'nav.html'%}
      <div class="container border-purple-500">
        <div class="row justify-content-center">
          <div class="col-md-8 mt-5">
            <div class="card bg-gray-100">
              <div class="card-header">
                <h2 style="margin-left: 40px;">Well done!</h2>
                <br />
              </div>
              <div class="card-body" style="margin-left: 40px;">
                <p><strong>STATUS:</strong> {{post_response.status}}!</p>
                <br />
                <p><strong>MESSAGE:</strong> {{post_response.message}}!</p>
                <br />
                <p>
                  <strong>TRAINING STATUS:</strong>
                  {{post_response.model_training_status}}!
                </p>
                <br />
                <p><strong>LOGS:</strong> {{post_response.logs}}!</p>
                <br />
                <p><strong>ETA:</strong> {{post_response.eta}}!</p>
                <br />
                <p>
                  <strong>TEST IMAGE:</strong> {{post_response.test_image}}!
                </p>
                <br />
                <p>
                  <strong>UPCOMING STEPS:</strong>
                  {{post_response.upcoming_steps}}!
                </p>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
